@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-primary: #00153B;
	--color-primary-dark: #00102C;
	--color-primary-light: #0B2A62;

	--color-secondary-500: #003084;
	--color-secondary-400: #5694FF;
	--color-secondary-300: #BBD4FF;
	--color-secondary-100: #E6EFFF;

	--color-background: #FFFFFF;
}